.cart-container {
  width: 100%;
  max-width: 1120px;  
  margin: 32px auto;
}

.cart-container header {  
  display: flex;  
  align-items: center;
  justify-content: space-between;  
}

.cart-container header .left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-container header .left img {
  width: 100px;
}

.cart-container header .left span {
  font-size: 17px;
  margin: 0 50px;
}

.cart-container header .right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-container header button {
  height: 50px;
  /* width: 150px;   */
  padding: 0 10px;
  margin-left: 15px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  transition: filter 0.2s;
}
.cart-container header button:hover {
  filter: brightness(0.8);
}

.cart-container header button span {  
  font-size: 16px;
  font-weight: 500;
}

.cart-container h1 {
  font-size: 32px;
  margin-top: 70px;
  margin-bottom: 35px;    
}

.cart-container ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  list-style: none;  
  /* box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); */
  /* padding: 45px; */
}

.cart-container ul .cart-properties {
  width: 100%;
  height: 60px;
  padding: 25px;
  color: #333;
  font-weight: bold;  
  background: #ffffff; 
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;  
}

.cart-container ul .cart-properties span:nth-child(1) {
  width: 640px;
  margin-left: 20px;
}

.cart-container ul .cart-properties span:nth-child(2) {
  width: 145px;
}

.cart-container ul .cart-properties span:nth-child(3) {
  width: 170px;
}

.cart-container ul li .product {  
  padding: 20px;
  height: 150px;

  display: flex;
  flex-direction: row;
  align-items: center;  
}

.cart-container ul li .product img {
  border-radius: 8px;
  width: 12%;  
}

.cart-container ul li .product p {
  font-weight: bold;
  font-size: 20px;  
}

.cart-container ul li .product p:nth-of-type(1) {
  margin-left: 70px;
  width: 450px;
}

.cart-container ul li .product p:nth-of-type(2) {
  width: 120px;
}

.cart-container ul li .product .amount {
  width: 230px;
  padding: 0px 20px;

  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
}

.cart-container ul li .product .amount p {
  margin: 0px 0px;
  width: 20%;
}

.cart-container ul li .product button {
  height: 50px;
  width: 50px;  
  margin: 0;
  padding: 0;
  background: transparent;  
  transition: all 0.2s;
}

.cart-container ul li .product button:hover {
  filter: brightness(0.6);
} 

.cart-container ul .product.empty {
  height: 120px;  
  margin-left: 50px;
  font-size: 30px;
  
  display: flex;  
  align-items: center; 
}

.cart-container ul .cart-properties .total-value {
  font-weight: 400;
  margin-left: -7px;
}

.cart-container ul .btn {
  width: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.cart-container ul .btn button {
  width: 200px;
  margin-left: 24px;
  margin-bottom: 24px;
}
