.products-container {
  width: 100%;
  max-width: 1120px;  
  margin: 32px auto;
}

.products-container header {  
  display: flex;  
  align-items: center;
  justify-content: space-between;  
}

.products-container header .left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-container header .left img {
  width: 100px;
}

.products-container header .left span {
  font-size: 17px;
  margin: 0 50px;
}

.products-container header .right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-container header button {
  height: 50px;
  /* width: 150px;   */
  padding: 0 10px;
  margin-left: 15px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  transition: filter 0.2s;
}
.products-container header button:hover {
  filter: brightness(0.8);
}

.products-container header button span {  
  font-size: 16px;
  font-weight: 500;
}

.products-container h1 {
  font-size: 32px;
  margin-top: 70px;
  margin-bottom: 35px;  
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  list-style: none;
}

.items-grid .item {  
  min-height: 450px;
  padding: 40px;

  background: #ececec;  
  /* box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.048); */
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: initial;
}

.items-grid .item img {
  height: 250px;
  width: 180px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.452);
}

.items-grid .item .item-description {    
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
}

.items-grid .item .item-description h1 {  
  font-weight: 800;
  font-size: 25px;
}

.items-grid .item .item-description h2 {  
  margin-top: -20px;
  
  color: gray;
  font-weight: 300;
  font-size: 20px;
}

.items-grid .item .item-description p {
  margin-top: 35px;

  font-weight: 500;
  font-size: 30px;
  text-align: initial;
}