.products-container {
  width: 100%;
  max-width: 1120px;  
  margin: 32px auto;
}

.products-container header {  
  display: flex;  
  align-items: center;
  justify-content: space-between;  
}

.products-container header .left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-container header .left img {
  width: 100px;
}

.products-container header .left span {
  font-size: 17px;
  margin: 0 50px;
}

.products-container header .right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-container header button {
  height: 50px;  
  padding: 0 10px;
  margin-left: 15px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  transition: filter 0.2s;
}
.products-container header button:hover {
  filter: brightness(0.8);
}

.products-container header button span {  
  font-size: 16px;
  font-weight: 500;
}

.products-container .search {
  width: 100%;  
  padding: 50px 0;

  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-container .search input{
  width: 40%;
  height: 60px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;    
}

.products-container .search .pagination {
  width: 20%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.products-container .search .pagination p {
  font-size: 23px;
  margin: 0 20px;
}

.products-container .search .pagination button {
  height: 40px;  
  padding: 0 10px;  
  margin: 0;    
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-container h1 {
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 16px;  
}